@import url("style.css");


#contact_modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
}
.photographer-gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 100px; 
    width: 90%;  
}
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
}
.photographer-header__article {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    flex: 1 0 100%;
}
.header-info {
    order: -1;
}

.flex-item:focus{
    border: dashed 1px ;
    padding-bottom: 5px;
}
.flex-item:nth-of-type(1) { order: 2;}
.flex-item:nth-of-type(2) { order: 1; }
.flex-item:nth-of-type(3) { order: 3; }

.open-modal{
        font-size: 20px;
        font-weight: bold;
        color: white;
        padding: 11px;
        width: 170px;
        height: 70px;
        border: none;
        background-color: #901C1C;
        border-radius: 5px;
        cursor: pointer;
        position:absolute;
        left: 50%;
        top: 35%;
    
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}
.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: left;
    color:#000;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #000;
    font-size: 36px;
    margin:10px 10px 0 0 ;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.photographInfo{
    order: 3;
}
.image-gallery-div,.container{
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    
}
.imageTitle,.videoTitle{
    flex-grow: 3;
    padding-left: 10px;
}
 .gallery-images{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    
}
.image-container{
    display: flex;
    flex-flow: column ;
    
}
.galleryPics{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;}

.text-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.mediaTitle{
   flex-grow: 1;
   margin-left: 20px;
}
.imageLike{
    margin-right: 5px;
}
 .galleryPics, .galleryVideo{
  border-radius: 5px;
  width: 350px;
  height: 350px;
  object-fit: cover;
  margin: 10px ;
  cursor: pointer;

 }

.mediaTitle,.imageLike,.heart{
    color:#901C1C;
}
.heart.red {
    color: rgb(233, 8, 8);
  }
.closeButton{
    position:absolute; 
    top:6%;
    right:30%;  
    margin-top:5px;
}

input[type="text"],textarea{
font-family: Roboto, "Helvetica Neue";
font-size: 20px;
padding-left: 5px;
}

.quantities{
    width: 200px;
    margin: 10px;
    padding: 10px;
    display: flex;
    float: right;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
}

.likeText{
    display: flex;
    flex-direction: row;
}

.likeText i{
    margin-left: 5px;
}


.dropdown{
margin: 20px 100px ;
}
.dropdown-title{
font-weight:700;
font-size:18.5px;
line-height:23.44px;
}
.dropdown-close {
width: 170px;
height: 69px;
background: #911C1C;
border-radius: 5px;
color: #FAFAFA;
}