body {
    font-family:"DM Sans", sans-serif
}

#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
}

.flex-item:nth-of-type(1) { order: 2;}
.flex-item:nth-of-type(2) { order: 1; }
.flex-item:nth-of-type(3) { order: 3; }

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.logo{
    height: 50px;
    margin-left: 100px;
}
.profilPics{
  border-radius: 50%;
  height: 170px;
  width: 170px;
  object-fit: cover;
}
.photographInfo{
    order: 3;
}

h2 {
    margin: 10px 0 10px 0;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 83px;
    color: #D3573C;
}

h3 {
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 31px;
    color: #901C1C;
}

 h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #525252;
}

 .gallery-images{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    
}
.container{
    display: flex;
    flex-direction: column;
}
.text-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.imageTitle{
flex-grow: 1;
margin-left: 20px;
}
.imageLike{

    margin-right: 5px;
}
 .galleryPics{
  border-radius: 5px;
  width: 350px;
  height: 300px;
  object-fit: cover;
  margin: 20px;
 }
.galleryPics:hover{
    box-shadow: -7px 20px 34px 6px rgba(0,0,0,0.65);
    -webkit-box-shadow: -7px 20px 34px 6px rgba(0,0,0,0.65);
    -moz-box-shadow: -7px 20px 34px 6px rgba(0,0,0,0.65);
    cursor: pointer;
}
.imageTitle,.imageLike,.heart{
    color:#901C1C;
}