@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.profilPics {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  object-fit: cover;
}
.profilPics:hover{
  box-shadow: -7px 20px 34px 6px rgba(0,0,0,0.65);
  -webkit-box-shadow: -7px 20px 34px 6px rgba(0,0,0,0.65);
  -moz-box-shadow: -7px 20px 34px 6px rgba(0,0,0,0.65);}

h1 {
  color: #901c1c;
  margin-right: 100px;
}
h1:focus{
  outline: 3px dashed;
  padding: 5px;}

.logo {
  height: 50px;
  margin-left: 100px;
}
.logo:focus{
  outline: 3px dashed;
  padding: 5px;
}
.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  cursor: pointer;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: #d3573c;
  margin-bottom: 0;
  font-size: 36px;
}


.photographer_section article div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photographer_section article div p {
  margin: 5px;
}

.photographer_section article:focus{
  outline: 3px dashed;
  padding: 5px;
}